nav{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;

    img{
        width: 65px;
        height: 65px;
    }
}

table ,tr {
    table-layout: fixed;
    width: 100%;
    height: 40px;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    background-color: grey;
}

.flashes {
    padding: 5px;
    margin : 5px;
}

.alert-warning {
    background-color: rgba(255, 197, 197, 1);
}
.alert-success {
    background-color: #bdfdbd;
}