<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon"  href="{{ url_for('static', filename='img/favicon_pompair.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_SAE.css') }}" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Modifier une intervention - Pomp'Air</title>
</head>
<body>
    <div class="container mt-4">
        <h1>Modifier une intervention</h1>
        <form action="/interventions/edit" method="post">
            <input type="hidden" name="id" value="{{ intervention.id_intervention }}" >
            <div class="mb-3">
                <label for="date" class="form-label">Date d'intervention :</label>
                <input type="date" class="form-control" id="date" placeholder="Entrez la date d'intervention" required value="{{ intervention.date_inter }}" name="date">
            </div>
            <div class="mb-3">
            <label for="modele" class="form-label">Modèle de pompe à chaleur :</label>
            <select class="form-select" id="modele" required name="modele">
                <option value="">Sélectionnez un modèle</option>
                {% for type in modeles %}
                    <option value="{{ type.id_modele }}"
                    {% if type.id_modele ==  intervention.id_pompe_a_chaleur %}selected{% endif %}> {{ type.nom_modele }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="personnel" class="form-label">Nom du personnel internvenu :</label>
            <select class="form-select" id="personnel" required name="personnel">
                <option value="">Sélectionnez un membre du personnel</option>
                {% for type in personnel %}
                    <option value="{{ type.id_personnel }}"
                    {% if type.id_personnel ==  intervention.id_personnel %}selected{% endif %}> {{ type.nom_personnel }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="motif" class="form-label">Motif de l'intervention :</label>
            <select class="form-select" id="motif" required name="motif">
                <option value="">Sélectionnez un motif</option>
                {% for type in motifs %}
                    <option value="{{ type.id_motif }}"
                    {% if type.id_motif ==  intervention.id_motif %}selected{% endif %}> {{ type.libelle_motif }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="client" class="form-label">Nom du client :</label>
            <select class="form-select" id="client" required name="client">
                <option value="">Sélectionnez un client</option>
                {% for type in clients %}
                    <option value="{{ type.id_client }}"
                        {% if intervention.id_client == type.id_client %}selected{% endif %}>
                        {{ type.nom_client }} {{ type.prenom_client }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Modifier</button> -
        <a href="/" class="btn btn-warning">Annuler</a>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.min.js"></script>
</body>
</html>