<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon"  href="{{ url_for('static', filename='img/favicon_pompair.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_SAE.css') }}" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>États des interventions - Pomp'Air</title>
</head>
<body>
{% include('nav.html') %}

<h1>États des interventions :</h1>
<br>
<br>

{% if stats | length >= 1 %}
    <table>
        <tr>
            <th>ID</th><th>Moyenne de temps</th><th>Nom</th>
        </tr>
        {% for etat in stats %}
            <tr>
                <td>{{ etat.id_personnel }}</td>
                <td>{{ etat.moyen_date }}</td>
                <td>{{ etat.nom_personnel }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h2> La liste des états est vide.</h2>
{% endif %}
</body>
</html>