<nav class="menu">
    <img src="{{ url_for('static', filename='img/favicon_pompair.ico') }}" alt="Logo de Pomp'Air"  />
    <button class="btn btn-dark" href="" role="button">Pompes à chaleur</button>
    <button class="btn btn-dark" href="" role="button">Commandes</button>
    <button class="btn btn-dark" href="" role="button">Lignes de commande</button>
    <button class="btn btn-dark" href="" role="button">Interventions</button>
    <img src="{{ url_for('static', filename='img/favicon_pompair.ico') }}" alt="Logo de Pomp'Air"  />
</nav>
<hr>